---
const { href, label, download=false, color = "bg-violet-800", styling } = Astro.props;
---

<a
  href={href}
  download={download}
  class={`inline-block px-4 py-2 m-1 rounded-2xl text-white no-underline ${color} hover:bg-blue-600 hover:text-white ${styling}`}

>
  {label}
</a>